
/* general */

*, body, html, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #1A1D29;
  overflow-x: hidden;
  padding: 20px 0px;
  user-select: none;
  margin: 40px 0px;
}


li {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

img { 
  max-width: 100%;
  max-height: 100%;
}

.loading {
  background-color: #31343E;
  animation: loading-image ease-in-out 1.4s infinite;
}


@keyframes loading-image {
  0% {
    background-color: #31343E;
  }
  50% {
    background-color: #2C303A;
  }
  0% {
    background-color: #31343E;
  }
}



/* section */

.genreSection {
  margin-top: 80px;
  width: 100%;
  position: relative;
  left: 0px;
}

.genreSection h2 {
  position: relative;
  left: 60px;
}

.slider-wrapper {
  position: relative;
  left: 60px;
  margin-top: 10px;
  width: calc(100% - 60px);
}

.slider {
  position: relative;
  left: 0px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 4px;
  height: calc((100vw - 151px) / 6);
}

.slider > ul {
  position: relative;
  left: 0;
  flex: 0 0 calc((100vw - 60px) / 6);
  height: calc((100vw - 60px) / 6);
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
}


/* arrows */


.arrow-left {
  transition: opacity 0.4s;
  display: none;
  position: absolute;
  top: 0;
  left: -60px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.arrow-right {
  transition: opacity 0.4s;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.arrow-right img, .arrow-left img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}


/* right arrow, and left arrow showing */

.slider-wrapper:hover > .arrow-right,
.slider-wrapper:hover > .arrow-left {
  opacity: 1;
}



/* first medium inof showing animation */





input {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 10px;
  color: black;
}





/* progressbar */

.progressbar {
  transition: opacity 0.4s;
  position: absolute;
  top: 24px;
  right: 40px;
  width: 200px;
  height: 4px;
  background-color: #0e1014;
  opacity: 0;
}

.slider-wrapper:hover ~ .progressbar {
  opacity: 1;
}

.progressbar span {
  position: relative;
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}




/* hover box */

.hover-box {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  background-color: #0e1014;
  box-shadow: 0px 0px 10px black;
  background-size: contain;
}





/* content-hover-box */

.content-hover-box {
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 30%;
  width: calc(100% + 2px);
  background-color: rgba(0, 0, 0, 0.9);
}


.content-hover-box button {
  border: none;
  border-radius: 4px;
  background-color: rgb(84, 84, 84);
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content-hover-box button:hover {
  background-color: rgb(19, 19, 19);
}


.content-hover-box button:nth-child(1) {
  left: 20px;
}

.content-hover-box button:nth-child(2) {
  right: 20px;
}




/* first ul hover box */
.hover-box-first-ul {
  position: absolute;
  top:50%;
  left: 0%;
  transform: translate(0%, -50%);
  z-index: 9999999;
  background-color: #0e1014;
  box-shadow: 0px 0px 10px black;
  background-size: cover;
}



/* last ul hover box */
.hover-box-last-ul {
  position: absolute;
  top:50%;
  right: 0%;
  transform: translate(0%, -50%);
  z-index: 9999999;
  background-color: #0e1014;
  box-shadow: 0px 0px 10px black;
  background-size: cover;
}




/* Big box */

.big-box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.big-box {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #2C303A;
  animation: big-box-anim 1s;
  width: 50%;
  height: 100vh;
  transform: translateX(-50%);
}

@keyframes big-box-anim {
  from {
    top: var(--big-box-top);
    left: var(--big-box-left);
    width: var(--ul-size);
    height: var(--ul-size);
    transform: none;
  }
  to {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    transform: translateX(-50%);
  }
}

.close-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #1A1D29;
}

.close-wrapper span {
  position: absolute;
  top: 14px;
  right: 3px;
  display: inline-block;
  height: 3px;
  width: 24px;
  background-color: #FFF;
  border-radius: 40px;
}

.close-wrapper span:nth-child(1) {
  transform: rotateZ(45deg);
}

.close-wrapper span:nth-child(2) {
  transform: rotateZ(-45deg);
}




/* bgi got bigbox */

.bgi-for-big-box {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}